/* CSS */
h1{
    color:rgb(208, 35, 35);
    font-weight: bolder;
    padding-left: 15px;
  }
  .head-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-header {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #15d552;
    border-radius: 0.25rem;
  }
  
  input[type="submit"] {
    background-color: #2f78c6;
    color: #f4dcef;
    border: none;
    cursor: pointer;
  }

